<link rel="stylesheet" href="css/event_details.css">
<div class="container eventdetails-container">
    <div class="row">
        <!-- Event Image -->
        <div class="col-md-6">
            <img src="static/fls.jpg" class="eventdetails-image" alt="Event Image" id="event-image">
        </div>

        <!-- Event Details -->
        <div class="col-md-6">
            <h1 class="eventdetails-title" id="event-title">Loading Event...</h1>
            <p class="eventdetails-info"><strong>Date:</strong> <span id="event-date">...</span></p>
            <p class="eventdetails-info"><strong>Location:</strong> <span id="event-location">...</span></p>
            <p class="eventdetails-info"><strong>Organizer:</strong> <span id="event-organizer">...</span></p>
            <p class="eventdetails-description" id="event-description">...</p>

            <!-- Buttons Section -->
            <div id="buttons-container" class="mt-4">
                <!-- Dynamic buttons will be inserted here -->
            </div>
        </div>
    </div>

    <!-- Additional Details -->
    <div class="eventdetails-agenda mt-5">
        <h3>Event Schedule</h3>
        <div id="event-schedule">
            <!-- Schedule items will be populated dynamically -->
        </div>
        
        <h4 class="mt-4">Additional Information</h4>
        <ul id="event-additional-info" class="list-group">
            <!-- Additional info items will be populated here -->
        </ul>
    </div>
</div>
<script src="js/pages/event_details.js"></script>